@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { box-sizing: border-box; }

a { color: #4c60d8; }

body { margin: 0; padding: 0; }

body, input, pre, select, textarea, .code {
    font: 400 1rem 'IBM Plex Mono', monospace;
}

header, footer, body > nav a {
    background: #4c60d8;
}

header, footer, footer a, body > nav a {
    color: #ffffff;
}

footer {
    text-align: center;
}

body > nav {
    gap: 1rem;
    display: flex;
    font-size: 0.9rem;
    margin: 1rem 0;
}

body > nav a {
    border-radius: 3px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

ol {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    margin: 0 0 2rem;
    padding: 0;
}

ol li {
    display: inline;
    font-size: 0.9rem;
}

ol li:hover {
    background: #d5ffce;
}

header, footer, main, nav {
    padding: 1rem 3rem;
}

h4 {
    background: lightpink;
    color: darkred;
    padding: 1rem;
    text-align: center;
}

div.cards {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

div.cards > div {
    flex: 25rem 1;
    background: #4c60d811;
    padding: 1rem 2rem;
}

div.cards > div.danger {
    border: solid 2px red;
}

div.cards h3 {
    border-bottom: solid 1px #4c60d8;
    color: #4c60d8;
    margin: 0;
    text-align: right;
    text-transform: uppercase;
}

div.cards dl {
    padding: 0;
    margin: 0;
}

div.cards dt {
    border-top: solid 1px white;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 0 0;
}

div.cards dd {
    padding: 0.5rem 0 1rem;
    margin: 0;
}

form i {
    color: gray;
    display: block;
    font-size: 0.8rem;
}

form input[type=number] {
    text-align: right;
    width: 5rem;
}

form input[type=password] {
    width: 20rem;
}

form input[type=range] {
    margin-right: 1rem;
    width: 20rem;
}

form input[type=submit] {
    background: #663399;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

form input[type=text] {
    width: 20rem;
}

.red {
    color: #ff0000;
}

.rval {
    text-align: right;
    width: 2rem;
}

.small {
    font-size: 0.86rem;
}

.debug {
    background: lightyellow;
    border: solid 1px darkred;
    color: black;
    font-size: 0.8rem;
    padding: 0 2rem;
}
